/*===============================
=            Contact            =
===============================*/

.contact-head {
    margin-top: 30px;
}

.contact-partner {
    padding-bottom: 20px;
    border-bottom: 2px solid lighten($gray-light, 20%);

    h2 {
        font-family: $font-primary;
        font-size: $font-size-h2;
        font-weight: normal;
        color: $h1-color;
        margin-bottom: 10px;
    }

    .adress-partner {
        padding-top: 0;

        a {
            margin: 0 0 0 15px;
            line-height: 18px;
            color: $h1-color;
            display: inline-block;

            &[href^="mailto"] {
                margin-bottom: 15px;
            }
        }

        p {
            margin: 0 0 15px 15px;
            line-height: 18px;

            strong {
                font-family: $font-primary;
                color: $h1-color;
                font-size: 20px;
                font-weight: normal;
                line-height: 20px;
                margin-top: 10px;
            }

            &.mail-bottom {
                margin-bottom: 0;
            }
        }
    }

    .adress-toggle {
        position: absolute;
        z-index: 1000;
        right: 0;
        bottom: 20px;
        font-family: $font-primary;
        font-weight: normal;
        font-size: 16px;
        //color: #fff;
        //background: $brand-primary;
        //border: 1px solid $btn-primary-border;

        // &:hover {
        //     //background: $gray-light;
        // }

        // &:active {
        //     //.inner-shadow($x: 0px, $y: 4px, $blur: 3px, $alpha: .75);
        // }

        // &:focus {
        //     //background: $gray-light;
        //     //.inner-shadow($x: 0px, $y: 4px, $blur: 3px, $alpha: .75);
        // }
    }

    .map-partner {
        height: 500px;
        padding: 0;
        margin: 0;
        overflow: hidden;

        p {
            padding: 0;
            margin: 0;
        }

        iframe {
            padding: 0;
            margin-top: -20px;
            position: relative;
        }

        .adress_hover_scheme {
            width: 100%;
            height: 500px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 300;
            border: 1px solid $gray-light;
        }

        #scheme_trak {
            background: url(images/maps/map_scheme-1.jpg) center center no-repeat;
            background-size: cover;
            padding-right: 15px;
        }

        #scheme_euro {
            background: url(images/maps/map_scheme-6.jpg) center center no-repeat;
            background-size: cover;
            padding-right: 15px;
        }

        #scheme_man {
            background: url(images/maps/map_scheme-3.jpg) center center no-repeat;
            background-size: cover;
            padding-right: 15px;
        }

        #scheme_hino {
            background: url(images/maps/map_scheme-3.jpg) center center no-repeat;
            background-size: cover;
            padding-right: 15px;
        }

        #scheme_motor {
            background: url(images/maps/map_scheme-5.jpg) center center no-repeat;
            background-size: cover;
            padding-right: 15px;
        }

        #scheme_bosch {
            background: url(images/maps/map_scheme-3.jpg) center center no-repeat;
            background-size: cover;
            padding-right: 15px;
        }
    }
}

#map-canvas {
    width: 100%;
    height: 500px;
}

/*=====  End of Contact  ======*/
