/* @group Кузовной ремонт форма */
/* ========================================================================== */
.repair-header {
	min-height: 40px;
	width: 100%;
	margin: 0 auto 20px;
	padding: 0 15px;
	overflow: auto;
	background: $brand-primary;
	@include border-radius(5px);

	h3 {
		font-family: $font-primary;
		font-size: 22px;
		line-height: 26px;
		font-weight: normal;
		color: #fff;
		margin: 10px auto 5px;
		text-transform: uppercase;
		text-shadow: 0 0 5px rgba(35, 44, 48, 0.5);
	}
}

.form-horizontal .checkbox {
	min-height: 20px;
	padding-top: 0;
	margin-top: -10px;
	margin-bottom: 0;
}

.repair_mail {
	margin: 0;
	width: 60%;
	margin: 30px 20% 150px 20%;
	float: left;

	input[type='text'],
	input[type='email'],
	select {
		width: 100%;
		height: 35px;
		outline: none;
		padding: 0 10px;
		margin-bottom: 10px;
		text-align: center !important;
		font-family: $font-primary;
		font-size: $font-size-large;
		border: 1px solid $brand-primary !important;
		border-style: none;
		background-color: lighten($gray-light, 45%);
		//.inner-shadow(240, 191, 78, $alpha: .5);
		@include transition(0.2s);
		@include border-radius(5px);

		&:focus {
			background-color: #fff;
		}

		&:focus::-webkit-input-placeholder {
			color: transparent;
			@include transition(0.2s);
		}

		&:focus::-moz-placeholder {
			color: transparent;
			@include transition(0.2s);
		}

		&:focus:-ms-input-placeholder {
			color: transparent;
			@include transition(0.2s);
		}

		&::-webkit-input-placeholder { /* WebKit browsers */
		    color: $brand-primary;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color: $brand-primary;
		   opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color: $brand-primary;
		   opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10+ */
		   color: $brand-primary;
		}
	}

	#input1 {
		@include animation-delay(0.2s);
	}

	#input2 {
		@include animation-delay(0.3s);
	}

	#input3 {
		@include animation-delay(0.4s);
	}

	#input4 {
		@include animation-delay(0.5s);
	}

	#input5 {
		@include animation-delay(0.6s);
	}

	textarea {
		width: 100%;
		height: 80px;
		outline: none;
		padding: 10px;
		margin-bottom: 5px;
		text-align: center;
		font-family: $font-primary;
		font-size: $font-size-large;
		border: 1px solid $brand-primary !important;
		border-style: none;
		background-color: lighten($gray-light, 45%);
		//.inner-shadow(240, 191, 78, $alpha: .5);
		@include transition(0.2s);
		@include border-radius(5px);

		&:focus {
			background-color: #fff;
		}

		&:focus::-webkit-input-placeholder {
			color: transparent;
			@include transition(0.2s);
		}

		&:focus::-moz-placeholder {
			color: transparent;
			@include transition(0.2s);
		}

		&:focus:-ms-input-placeholder {
			color: transparent;
			@include transition(0.2s);
		}

		&::-webkit-input-placeholder { /* WebKit browsers */
		    color: $brand-primary;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color: $brand-primary;
		   opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color: $brand-primary;
		   opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10+ */
		   color: $brand-primary;
		}
	}
}

input[type='submit'],
input[type='button'] {
	width: 40%;
	text-shadow: none;
	border-color: #000;
	font-family: $font-primary;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	padding: 10px 30px;
	margin-left: 20px;
	background: lighten($brand-primary, 10%);
	border: 1px solid $brand-primary !important;
	@include border-radius(5px);
	@include transition(0.2s);
	outline: none;

	&:hover {
		background: $brand-primary;
	}

	&:active {
		@include inner-shadow($x: 0px, $y: 4px, $blur: 3px, $alpha: .75);
	}
}

.submit-form {
	width: 30%;
	margin: 0 auto;

	&--hidden {
		opacity: 0.5;

		&:hover {
			background: $primary;
		}
	}
}

.checkbox {
	display: inline-block;
	position: relative;
	top: 1px;
	width: 24px;
	height: 20px;
	border: 2px solid $primary;
	background-color: #fff;
	transition: background 150ms ease;
	cursor: pointer;

	// &:hover {
	// 	// background: rgba(33, 16, 118, .5);
	// }

	&:after {
		content: "";
		position: absolute;
		top: 1px;
		left: 5px;
		width: 6px;
		height: 12px;
		opacity: 0;
		transform: rotate(45deg) scale(0);
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transition: all 325ms ease;
	}
}

input[type=checkbox] {
	display: none;
	position: relative;
	top: 1px;
	width: 20px;
	height: 20px;
	border: 2px solid $primary;
	transition: background 150ms ease;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0;

	&:checked {
		& ~ .checkbox {
			border-color: transparent;
			background: $primary;
			animation: wiggle 400ms ease;

			&:after {
				opacity: 1;
				transform: rotate(45deg) scale(1);
			}
		}

		& ~ .checklist-item__title {
			text-decoration: line-through;
			transition: all 175ms ease;
			opacity: .5;
		}
	}
}

@keyframes wiggle {
	from {
		transform: scale(1, 1);
	}

	30% {
		transform: scale(1.25, .75);
	}

	40% {
		transform: scale(.75, 1.25);
	}

	50% {
		transform: scale(1.15, .85);
	}

	65% {
		transform: scale(.95, 1.05);
	}

	75% {
		transform: scale(1.05, .95);
	}

	to {
		transform: scale(1, 1);
	}
}

.ajax_form__agreement {
	width: 100%;
	min-height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $font-size-small;
	margin-top: 1rem;

	p {
		margin-left: 1rem;
		margin-top: 0.4rem;
		text-align: left;

		// a {
		// 	// font-family: $bold;
		// }
	}
}

.repair_quest-image {
	width: 50%;
	float: left;
	margin-top: 30px;
	opacity: 0.3;

	img {
		height: 400px;
		width: auto;
	}
}

/* $end  */