/* ========================================================================== */
/* Content */
/* ========================================================================== */
.content-header {
	border-bottom: 2px solid $gray-light;
	display: block;
	padding-left: 0;
	padding-right: 0;

	h1 {
		font-family: $font-primary;
		font-size: 40px;
		line-height: 40px;
		font-weight: normal;
/* 		text-transform: uppercase; */
		color: $h1-color;
		margin: 30px 0 5px;
	}

	.trucks_logo {
		height: 50px;
		margin: 20px 0;

		img {
			height: 100%;
		}
	}

	@media screen and (max-width: $screen-xs) {

		h1 {
			font-size: $font-size-h2;
			line-height: 1;
		}
	}
}

.content-description {
/* 	border: 2px solid $gray-light; */
/* 	padding: 10px 20px; */
	min-height: 500px;
	//overflow: auto;
	@include border-radius(13px);
	margin: 0;
	overflow: hidden;

	p {
		//font-size: 14px;
		margin: 20px auto;

		strong, a {
			font-family: $font-primary;
			font-size: 18px;
			line-height: 14px;
			font-weight: normal;
			color: $h1-color;
		}

		a {
			text-decoration: underline;
		}

		// span {
		// 	hyphen: none;
		// }
	}

	li {
		line-height: 18px;
		margin-bottom: 10px;

		strong {
			font-family: $font-primary;
			font-size: 18px;
			line-height: 18px;
			font-weight: normal;
			color: $h1-color;
		}
	}

	i {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.remont-header {
	min-height: 40px;
	width: 100%;
	margin: 0 auto 30px;
	padding: 0 10px;
	overflow: auto;
	background: $brand-primary;
	@include border-radius(5px);

	h2 {
		font-family: $font-primary;
		font-size: 30px;
		line-height: 35px;
		font-weight: normal;
		color: #fff;
		margin: 10px auto 5px;
		text-transform: uppercase;
		text-shadow: 0 0 5px rgba(35, 44, 48, 0.5);
	}
}

.remont-header_after {
	// min-height: 40px;
	width: 100%;
	margin: 30px auto;
	padding: 15px;
	float: left;
	overflow: auto;
	position: relative;
	background: $brand-primary;
	@include border-radius(5px);
	z-index: 10;

	h2 {
		font-family: $font-primary;
		font-size: 30px;
		line-height: 35px;
		font-weight: normal;
		color: #fff;
		margin: 10px auto 5px;
		text-transform: uppercase;
		//text-shadow: 0 0 5px rgba(35, 44, 48, 0.5);
	}

	a {
		color: #fff;
	}

	span {
		margin-left: 15px;
	}
}

/* $group Автостоянка */
/* ========================================================================== */
.parking-map {
	@include border-radius(5px);
	margin-bottom: 30px;

	iframe {
		@include border-radius(5px);
		border: 1px solid $brand-primary !important;
		width: 100%;
	}
}
/* $end  */

/*=============================
=            Table            =
=============================*/

$tableHeight    : 10rem;
$tableBackLight : lighten($primary, 60%);
$tableBackDark  : lighten($primary, 55%);

.table {
	width: 100%;
	min-height: 6rem;
	display: flex;
	flex-direction: column;

	&-header {
		width: 100%;
		height: $tableHeight;
		display: flex;
		flex-direction: row;
		background-color: $tableBackLight;
	}

	&-row {
		width: 100%;
		height: $tableHeight;
		display: flex;
		flex-direction: row;
		background-color: $tableBackLight;
		border-bottom: 0.3rem solid #fff;

		&__column-3 {
			width: calc(100% / 3);
			height: $tableHeight;
			display: flex;
			align-items: center;
			justify-content: center;
			border-right: 0.3rem solid #fff;
			padding: 0 3rem;
			text-align: center;

			// &:last-child {
			// 	border: none;
			// }
		}

		p {
			font: {
				family: $font-primary;
				size: $font-size-large + 3;
			};
		}

		span {
			font: {
				family: $font-secondary;
				size: $font-size-large + 10;
			};
		}

		&:nth-child(2n) {
			background-color: $tableBackDark;
		}

		&:last-child {
			border: none;
		}
	}
}

/*=====  End of Table  ======*/


/*=============================================
=            Motel            =
=============================================*/

.content-image {
	overflow: hidden;

	&__photo {
		width: 100%;
		margin: 30px 0;
		overflow: hidden;
		@include border-radius(5px);

		img {
			width: 100%;
			height: auto;
			display: block;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}

/*=====  End of Motel  ======*/