/* ========================================================================== */
/* Main */
/* ========================================================================== */
body {
  padding-top: 40px;
  //font-weight: 400;
}

.wrapper {
	min-height: 1000px;
}

.main {
  padding: 0 20px;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.main-front {
	padding: 0 40px;
}

/* ========================================================================== */
/* Sidebar */
/* ========================================================================== */
.sidebar {
  z-index: 100;

  .logo-block {
		background: lighten($gray-light, 30%);
		position: fixed;
		top: 0;
		padding: 10px 0;
		margin: 0 0 0 1%;
		z-index: 9000;
		@include border-bottom-radius(13px);
		border-bottom: 3px solid #fff;
		border-left: 3px solid #fff;
		border-right: 3px solid #fff;
		@include drop-shadow($x: 0, $y: 0, $blur: 15px, $alpha: .4);
	}

	.logo {
		outline: none;
		margin: 0 auto;
		z-index: 100;
		position: relative;

		img {
			margin: 0 22px; //обычно 22 (новый год 11)
			width: 135px; //обычно 135 (новый год 157)
			z-index: 100;
		}
	}

	/* Sidebar navigation */
	.partners-sidebar {
		margin: 0 0 0 1%;
		padding: 0 0 20px 0;
		background: lighten($gray-light, 30%);
		position: fixed;
		width: 184px;
		height: 100%;
		top: 190px;
		//bottom: 0;
		border-top: 3px solid #fff;
		border-left: 3px solid #fff;
		border-right: 3px solid #fff;
		@include drop-shadow($x: 0, $y: 0, $blur: 15px, $alpha: .4);
		@include border-top-radius(13px);

		.partners-header {
			background: lighten($gray-light, 15%);
			background: #fff;
			padding: 5px 0 0;
			margin: 0;
			border-bottom: 3px solid #fff;
			@include border-top-radius(10px);
			font-family: $font-primary;
			font-size: $font-size-h3;
			font-weight: normal;
			//line-height: 1.4;
			text-transform: uppercase;
			color: #000;
			margin: 0 0 5px;

		}

		.nav-sidebar {
			padding: 0;
			margin: 10px auto 15px;
			position: relative;

			> li > a {
				padding: 2px 10px 2px 19px;
				color: #000;
				font-size: $font-size-large - 1;

				&:hover {
					color: #000;
					background-color: lighten($gray-light, 15%);
				}
			}

			> .active > a {
			  color: #fff;
			  background-color: #428bca;
			}
		}

		.newsblock {
			max-width: 100%;
			min-height: 50px;
			padding: 0 10px;
			position: relative;

			img {
				margin: 0 0 5px;
				float: left;

				&:first-child {
					margin-top: 0;
				}
			}
		}

	    .author {
		    width: 250px;
		    min-height: 20px;
		    //margin: 10px 0;
		    bottom: 110px;
		    // left: 0;
		    margin-left: -25px;
		    position: fixed;
		    z-index: 1000;
		    @include rotate(-90deg);
		    transform-origin: 0 0;

		    p {
			    font-family: $font-primary;
				font-size: $font-size-small;
				font-weight: normal;
				line-height: 12px;
				margin: 0;
				color: $brand-primary;

				a {
					color: $brand-primary;

					&:hover {
						color: darken($brand-primary, 20%);
					}
				}
		    }
	    }
	}
}

/* ========================================================================== */
/* BANER Revolution slider */
/* ========================================================================== */
.repair-banner,
.content-baner {
	min-height: 300px;
	overflow: hidden;
}

.banner-button {
	background: $brand-primary;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
	border: 1px solid lighten($gray-light, 10%);
	@include border-radius(5px);
	@include transition(0.2s);
	@include drop-shadow($x: 10px, $y: 10px, $blur: 25px, $alpha: .5);

	&:hover {
		background: darken($brand-primary, 10%);
		text-decoration: none;
		color: #fff !important;
	}
}

/* ========================================================================== */
/* Footer */
/* ========================================================================== */

.footer {
	position: relative;
	bottom: 0px;
	width: 100%;
	min-height: 50px;
	background-color: $brand-primary;
	padding: 0 20px;
	margin-top: 20px;

	.text-muted {
	    margin: 20px 20px 20px 30px;
	    color: #fff;
    }

    .counters-block {
		min-height: 31px;

		.counters {
			margin: 26px auto;
			display: inline-block;
			position: relative;

			.yandex-metrika {
			    width: 87px;
			    height: 31px;
			    position: relative;
			    float: right;
			    @include transition(0.2s);
			}

			.liveinternet {
			    width: 87px;
			    height: 31px;
			    margin-right: 15px;
			    position: relative;
			    float: right;
			}
		}
	}

    .right-block {
	    min-height: 50px;

	    .icon_block {
		    min-height: 30px;
		    width: 100px;
		    right: 30px;
		    margin: 26px 0;
		    position: relative;
		    z-index: 1000;
		    float: right;

		    .fbook-icon {
			    width: 30px;
			    height: 30px;
			    background: url(../images/facebook_icon.png) no-repeat center center;
			    float: right;
			    display: block;
			    margin-right: 10px;
			    @include transition(0.2s);

			    &:hover {
				    opacity: 0.8;
			    }
		    }

		    .vk-icon {
			    width: 30px;
			    height: 30px;
			    background: url(../images/vk_icon.png) no-repeat center center;
			    float: right;
			    display: block;
			    @include transition(0.2s);

			    &:hover {
				    opacity: 0.8;
			    }
		    }
	    }
    }

    .text-footer {
	    margin: 20px 20px 20px 30px;
	    color: #fff;
	    // display: inline-block;
	    float: left;
	    position: relative;
    }

    .left-block {
	    min-height: 50px;

	    .icon_block {
		    min-height: 30px;
		    width: 100px;
		    right: 15px;
		    margin: 25px 0;
		    position: relative;
		    z-index: 1000;
		    float: left;

		    .fbook-icon {
			    width: 30px;
			    height: 30px;
			    background: url(../images/facebook_icon.png) no-repeat center center;
			    float: right;
			    display: block;
			    margin-right: 10px;
			    @include transition(0.2s);

			    &:hover {
				    opacity: 0.8;
			    }
		    }

		    .vk-icon {
			    width: 30px;
			    height: 30px;
			    background: url(../images/vk_icon.png) no-repeat center center;
			    float: right;
			    display: block;
			    @include transition(0.2s);

			    &:hover {
				    opacity: 0.8;
			    }
		    }
	    }
    }

    .left-block-repair {
	    min-height: 50px;

	    .icon_block {
		    min-height: 30px;
		    width: 100px;
		    margin: 25px 0 25px -110px;
		    position: relative;
		    z-index: 1000;
		    float: left;

		    .fbook-icon {
			    width: 30px;
			    height: 30px;
			    background: url(../images/facebook_icon.png) no-repeat center center;
			    float: right;
			    display: block;
			    margin-right: 10px;
			    @include transition(0.2s);

			    &:hover {
				    opacity: 0.8;
			    }
		    }

		    .vk-icon {
			    width: 30px;
			    height: 30px;
			    background: url(../images/vk_icon.png) no-repeat center center;
			    float: right;
			    display: block;
			    @include transition(0.2s);

			    &:hover {
				    opacity: 0.8;
			    }
		    }
	    }
    }
}

.footer_inside {
	font: 20px/20px $font-primary;
	color: lighten($gray-light, 25%);
	padding: 20px;

	.footer-link {
		margin: 20px 0 0;

		a {
			font: 16px/16px $font-primary;
			color: lighten($gray-light, 15%);
			@include transition(0.2s);

			&:hover {
				color: lighten($gray-light, 25%);
				text-decoration: none;
			}
		}

	}
}