/*! @group Navigation custom */
/* ========================================================================== */
.nav {
	font-family: $font-primary;
	font-size: $font-size-large - 1;

	> li {

		> a {
			text-decoration: none;
			color: lighten($gray-light, 25%);
			@include transition(0.2s);

			&:hover {
				color: lighten($gray-light, 40%);
				/*background-color: $nav-link-hover-bg;*/
			}
		}
	}
}

.navbar-inverse {
	background-color: $brand-primary;

	.navbar-nav {
		> li > a {
		   color: lighten($gray-light, 20%);
		}

		> .active > a {
			background-color: darken($brand-primary, 5%);

			&:hover {
				background-color: darken($brand-primary, 5%);
			}
		}

		>.open>a {
			background-color: darken($brand-primary, 5%) !important;

			&:hover {
				background-color: darken($brand-primary, 5%) !important;
			}
		}

		.nav-sales {

			a {
				color: $brand-warning;

				&:hover {
					color: lighten($brand-warning, 10%);
				}
			}
		}

		.open .dropdown-menu>.active>a {
			background-color: darken($brand-primary, 5%) !important;
		}
	}
}

.navbar-right {
	margin-right: 15px;
}

.dropdown-menu {
	font-size: $font-size-large;
	font-family: $font-primary;

	> li > a {
		text-align: right;
		text-decoration: none;
		@include transition(0.2s);
	}
}

.dropdown-menu > li > a {
	&:hover,
	&:focus {
	  background-color: lighten($gray-light, 30%);
	}
}
/* $end  */

/* @group Кнопка наверх */
/* ========================================================================== */
#buttonUp {
	position: fixed;
	//background: url(images/upArrow-2.png) no-repeat;
	background-color: #fff;
	width: 34px;
	height: 34px;
	right: 30px;
	bottom: 30px;
	z-index: 1000;
	cursor: pointer;
	opacity: 0;
	border: 2px solid $brand-primary;
	text-align: center;
	@include drop-shadow($x: 0, $y: 15px, $blur: 18px, $alpha: .35);
	@include border-radius(17px);
	@include transition(0.2s);

	&:hover {
		background-color: lighten($brand-primary, 50%);
	}

	&:before {
		content: "\f106";
		font-family: 'FontAwesome';
		font-size: 24px;
		line-height: 24px;
		color: $brand-primary;
	}

}

/* $end  */

/* @group Menu кузовного ремонта */
/* ========================================================================== */
.remont-menu {
	min-width: 40%;
	min-height: 80px;
	//top: 51px;
	bottom: 25px;
	right: -30px;
	background: lighten($gray-light, 45%);
	position: fixed;
	padding: 0 15px 0 0;
	z-index: 1000;
	@include border-left-radius(13px);
	//border-top-left-radius: 0;
	//border-top: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	border-left: 3px solid #fff;
	@include drop-shadow($x: 0, $y: 0, $blur: 15px, $alpha: .4);
	@include transition(0.2s);
	opacity: 0;

	ul {
		padding: 0 15px;

		li {
			width: 60px;
			height: 60px;
			margin: -10px 10px 0;
			list-style: none;
			float: left;

			&:first-child {
				margin-left: 0;
			}

			a {
				font-family: $font-primary;
				font-size: 12px;
				text-decoration: none;
				@include transition(0.2s);

				// &:hover {

				// }

				img {
					width: 66px;
					height: 66px;
					-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
					-moz-transition: opacity 0.35s, -webkit-transform 0.35s;
					-o-transition: opacity 0.35s, -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.3s;
					opacity: 1;

					&:hover {
						@include translate(0, -5px);
						opacity: 1;
					}
				}
			}
		}
	}
}

/* $end  */
