/*==============================
=            Repair            =
==============================*/

@mixin animate($name, $duration, $iteration, $direction) {
    animation-duration: $duration;
    animation-iteration-count: $iteration;
    animation-name: $name;
    animation-direction: $direction;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(rotate) {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.repair-block,
.parking-block {
    width: 100%;
    min-height: 350px;
    padding: 0;
    margin: 30px auto 0;

    .repair-image_left {
        display: block;
        position: relative;
        width: 100%;
        min-height: 350px;
        padding: 0;
        margin-left: 15px;

        .repair-image_inside {
            display: block;
            position: absolute;
            width: 300px;
            height: 300px;
            z-index: 500;
            //margin-top: -25px;

            img {
                width: 300px;
                height: 300px;
                //margin-top: -25px;
                margin-left: 25px;
            }
        }

        .repair-image_back_level3 {
            //.gradient-variant(left, #fff, 50%, lighten($gray-light, 15%), 100%);
            background-size: contain;
            display: block;
            position: absolute;
            width: 40%;
            min-height: 300px;

        }

        .repair-image_back_level2 {
            background: url(images/repair_back2.png) no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            width: 350px;
            height: 350px;
            z-index: 200;
            margin-top: -25px;
            animation: rotate 20s infinite alternate-reverse;

            svg {
                width: 350px;
                height: 350px;

                path {
                    stroke: #fff;
                    stroke-width: 4;
                    fill: #444;
                }
            }
        }

        .repair-image_back_level1 {
            background: url(images/repair_back1.png) no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            width: 350px;
            height: 350px;
            z-index: 200;
            margin-top: -25px;
            animation: rotate 20s infinite alternate;

            svg {
                width: 320px;
                height: 320px;

                path {
                    stroke: #fff;
                    stroke-width: 4;
                    fill: #333;
                }
            }
        }
    }

    .repair-text_right {
        background: lighten($gray-light, 45%);
        min-height: 300px;
        padding: 0;
        right: 0;
        position: absolute;
        border-left: 15px solid lighten($gray-light, 15%);
        border-bottom-right-radius: 5px;

        h2 {
            font-family: $font-primary;
            font-size: 26px;
            font-weight: normal;
            line-height: 28px;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            padding: 15px 130px 15px 30px;
            background: $brand-primary;
            color: #fff;
            display: block;
            // min-height: 75px;
            border-top-right-radius: 5px;
        }

        p {
            padding: 15px 30px;
            margin: 0;

            a {
                font-family: $font-primary;
                font-size: 18px;
                line-height: 14px;
                font-weight: normal;
                color: $h1-color;
            }
        }
    }

    .repair_mail-icon {
        position: absolute;
        bottom: 15px;
        width: 100%;
        z-index: 200;
        @include transition(0.2s);

        a {
            cursor: pointer;
        }

        &:hover {
            transform: translateY(5px);
        }
    }

    .repair-image_right {
        display: block;
        position: relative;
        //width: 100%;
        min-height: 350px;
        right: 15px;
        padding: 0;

        .repair-image_inside {
            display: block;
            position: absolute;
            width: 300px;
            height: 300px;
            z-index: 500;
            //margin-top: -25px;
            right: 0;

            img {
                width: 300px;
                height: 300px;
                //margin-top: -25px;
                margin-left: -25px;
            }
        }

        .repair-image_back_level3 {
            //.gradient-variant(right, #fff, 50%, lighten($gray-light, 15%), 100%);
            background-size: contain;
            display: block;
            position: absolute;
            width: 100%;
            min-height: 300px;
            margin-left: -15%;
            //right: 0;
        }

        .repair-image_back_level2 {
            background: url(images/repair_back2.png) no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            width: 350px;
            height: 350px;
            z-index: 200;
            margin-top: -25px;
            margin-left: 0;
            right: 0;
            animation: rotate 20s infinite alternate-reverse;
        }

        .repair-image_back_level1 {
            background: url(images/repair_back1.png) no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            width: 350px;
            height: 350px;
            z-index: 200;
            margin-top: -25px;
            margin-left: 0;
            right: 0;
            animation: rotate 20s infinite alternate;
        }
    }

    .repair-text_left {
        background: lighten($gray-light, 45%);
        min-height: 300px;
        padding: 0;
        left: 0;
        position: absolute;
        border-right: 15px solid lighten($gray-light, 15%);
        border-bottom-left-radius: 5px;

        h2 {
            font-family: $font-primary;
            font-size: 26px;
            font-weight: normal;
            line-height: 28px;
            text-transform: uppercase;
            text-align: right;
            margin-top: 0;
            margin-bottom: 0;
            padding: 15px 30px 15px 130px;
            background: $brand-primary;
            //text-shadow: 1px 1px 1px rgba(26, 27, 33, 0.8);
            color: #fff;
            display: block;
            // min-height: 75px;
            border-top-left-radius: 5px;
        }

        p {
            padding: 15px 30px;
            margin: 0;

            a {
                font-family: $font-primary;
                font-size: 18px;
                line-height: 14px;
                font-weight: normal;
                color: $h1-color;
            }
        }
    }

    .repair_button {
        margin-left: 30px;
        margin-bottom: 20px;
        @include transition(0.2s);

        &:after {
            content: "\f064";
            font-family: 'FontAwesome';
            font-size: 1em;
            margin-left: 10px;
        }

        &_visible {
            display: inline-block;
        }

        &_hidden {
            display: none;
        }
    }
}

.repair_photos_info {
    margin-bottom: 12px;
}

.content-scheme {
    margin: 50px 0 0;

    .scheme-block {
        height: 86px;
        margin: 0 0 50px;
        padding-left: 140px;
        display: table;
        background-color: lighten($gray-light, 45%);
        border: 2px solid lighten($gray-light, 30%);
        @include border-radius(45px);

        .scheme-image_inside {
            float: left;
            display: block;
            width: 125px;
            margin: -20px 0 0 -140px;
            position: absolute;

            img {
                width: 100%;
                height: auto;
            }
        }

        .scheme-text {
            height: 86px;
            display: table-cell;
            vertical-align: middle;
            //text-transform: uppercase;
            font-family: $font-primary;
            font-size: $font-size-h3 - 3;
            line-height: 1em;
            color: $h1-color;
            padding-right: 15px;
        }
    }
}

/*=====  End of Repair  ======*/
