/* ========================================================================== */
/* Screen */
/* ========================================================================== */

@media screen and (max-width: $screen-lg) {
	.content-header-front {

		h1 {
			margin-top: 25px;
		}
	}

	.repair_mail-sm {
		width: 80%;
		margin: 100px 10%;
	}

	.repair-block {
		min-height: 200px;
		padding: 0 15px;

		.repair-text_right,
		.repair-text_left {
			min-height: 200px;
			position: relative;
			float: left;
			margin-bottom: 10px;

			h2 {
				padding-right: 30px;
			}
		}

		.repair-text_left {
			min-height: 200px;
			position: relative;
			float: left;
			margin-bottom: 10px;
			border-left: 15px solid lighten($gray-light, 15%);
			border-right: none;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 0;

			h2 {
				padding-left: 30px;
				text-align: left;
				border-top-right-radius: 5px;
				border-top-left-radius: 0;
			}
		}
	}

	.contact-partner {

		.adress-partner {
			padding-left: 0;
		}
	}

	.footer {

		.left-block-repair-xs {

			.icon_block {
				float: right;
			}
		}
	}

	.seq {

		.seq-model {

			img {
				width: auto;
				height: 100%;
				max-height: $imageHeight;
			}
		}
	}
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 41px;
		bottom: 0;
		/*     left: 20px; */
		z-index: 7000;
		display: block;
		padding: 0 20px 20px;
		/*margin-left: 50px;*/
		/*overflow-x: hidden;*/
		/*overflow-y: auto; /* Scrollable contents if viewport is shorter than content. *!/*/
		background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(117, 122, 124, 0.85) 100%);
		/*border-right: 1px solid #eee;*/
	}

	.main {
	    padding-right: 40px;
	    padding-left: 40px;

	    .page-header {
		  margin-top: 0;
		}
	}

	.contact-partner {

		.map-partner {
			margin-bottom: 15px;
		}
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.main-front, .main {
		padding-right: 15px;
		padding-left: 60px;
	}
}

@media (max-width: 768px) {
	.footer {

		.text-muted {
			margin: 20px 0;
		}
	}

	.repair_mail-xs {
		width: 100%;
		margin: 100px 0;
		float: left;
	}

	.footer {

		.text-footer-xs{
			margin: 20px 0;
		}
	}

	.main-front {
		padding: 0;
	}

	// .repair-block {
	// 	.repair-text_right,
	// 	.repair-text_left {
	// 		// float: none;
	// 	}
	// }
}

@media screen and (max-height: 768px) {
	.newsblock-sm {
		width: 86%;
		margin: 0 7%;

		// a {
		// 	&:nth-child(1) {
		// 		//display: none;
		// 	}

		// 	&:nth-child(2) {
		// 		//display: none;
		// 	}
		// }
	}
}

@media screen and (max-height: 550px) {
	.newsblock {
		display: none;
	}
}

@media screen and (max-width: $screen-xs) {
	body {
		font-size: 16px;
	}

	.dropdown-menu {

		a[href='gallery-repair/'] {
			display: none;
		}
	}

	.repair-banner,
	.content-baner {
		display: none;
		visibility: hidden;
	}

	.remont-header {
		text-align: left;
		padding: 5px 15px;
	}

	.content-scheme {

		.scheme-block {
			margin: 0 0 20px;
			padding-left: 15px;
			@include border-radius(5px);

			.scheme-image_inside {
				display: none;
			}

			.scheme-text {
				padding: 15px;
			}
		}
	}

	.repair-block,
	.parking-block {

		.repair_button {
			display: none;
		}

		.repair-text_right,
		.repair-text_left {

			h2 {
				font-size: $font-size-large;
				line-height: 1;
				padding: 15px;
			}

			p {
				padding: 15px;
			}
		}
	}

	.remont-header_after {


		h2 {
			font-size: $font-size-h3;
			line-height: 1;
		}

		a {
			font-size: $font-size-h2;
		}

		.fa {
			display: none;
		}

		span {
			display: block;
			margin-left: 0;
		}
	}

	.repair_mail {
		display: none;
	}

	.table {

		&-row {

			p {
				font-size: $font-size-base;
				line-height: 1;
			}

			span {
				font-size: $font-size-large + 5;
				line-height: 1;
			}
		}
	}

	.main {
		padding: 0;
	}

	.content-header {

		h1 {
			text-align: center;
			margin: 25px 0;
		}

		.trucks_logo {
			height: auto;
			margin: 0 0 25px;
			padding: 0 25px;
			text-align: center;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.trucks_block {

		.truck_image {
			min-height: auto;
			padding: 0;
			margin: 15px 0;
		}

		.truck_info {

			h2 {
				margin-bottom: 15px !important;
			}
		}

		.truck_link,
		.truck_presentation {

			a {
				height: auto;
				padding: 12px 0;
			}
		}
	}

	.pdf-icon,
	.browser-icon {
		display: none;
		visibility: hidden;
	}
}