// Prefix declarations
@mixin prefixed($property, $value) {
    -webkit-#{$property}: unquote($value);
            #{$property}: unquote($value);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  height: auto;

  &:before {
    /* Make an element a certain aspect ratio */
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  .seq-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

$sequenceWidth: 100%;
$sequenceMobileHeight: 320px;
$sequenceDesktopHeight: 320px;
$imageHeight: 320px;

// body,
// html,
// .seq {
//   /* Uncomment to make the theme full-screen */
//   /* width: 100% !important; */
//   /* max-width: 100% !important; */
//   /* height: 100% !important; */
//   /* max-height: 100% !important; */
// }

.seq {
  position: relative;
  //background: #D9D9D9 url("images/sequence/bg-sequence.jpg") no-repeat;
  background-position: 0% 100%;
  background-size: cover;

  /* Dimensions */
  height: $sequenceMobileHeight;
  width: 100%;
  //max-width: $sequenceWidth;

  /* Hide anything that goes beyond the boundaries of the Sequence container */
  overflow: hidden;

  /* Center the Sequence container on the page */
  margin: 0 auto;
  padding: 0;

  .seq-preloader {
    background: #D9D9D9;
  }

  .seq-screen,
  .seq-canvas,
  .seq-canvas > * {
    /* Reset the canvas and steps for more browser consistency */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none;
  }

  .seq-canvas > * {
    position: absolute;
  }

  &.seq-fallback {
    /* Fallback styles */

    .seq-canvas {
      max-width: $sequenceWidth;
    }

    .seq-pagination li {
      position: relative;

      img {
        border: none;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .seq-next:focus,
    .seq-next:hover,
    .seq-prev:focus,
    .seq-prev:hover,
    .seq-pagination li:focus,
    .seq-pagination li:hover {
      top: -4px;
    }
  }

  .seq-canvas {
    max-width: $sequenceWidth;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  .seq-nav,
  .seq-pagination {
    /* Hide navigation when JS is disabled */
    display: none;
  }

  &.seq-active .seq-nav {
    /* Show navigation and pagination if JS is enabled */
    display: block;
  }

  .seq-nav {
    /* Styles for next/previous buttons and pagination */
    position: absolute;
    z-index: 9999;
    top: 50%;
    width: 100%;
    max-width: $sequenceWidth;
    margin: 0 auto;
    padding: 0;
    pointer-events: none;
    border: none;
  }

  .seq-next,
  .seq-prev {
    position: absolute;
    top: 50%;
    margin-top: -33px;
    width: 35px;
    height: 66px;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    @include prefixed(transition-duration, ".2s");
    @include prefixed(transform, "translate3d(0, 0, 0)");
    background: none;

    /* Image replacement */
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }

  .seq-next {
    right: 35px;
    background-color: #fff;
	width: 34px;
	height: 34px;
	z-index: 1000;
	border: 2px solid $brand-primary;
	text-align: center;
	opacity: 0.3;
	@include drop-shadow($x: 0, $y: 15px, $blur: 18px, $alpha: .35);
	@include border-radius(17px);
	@include transition(0.2s);

	&:hover {
		background-color: lighten($brand-primary, 50%);
		opacity: 1;
	}

    &:before {
	    content: '\f105';
	    font: {
		    family: 'FontAwesome';
		    size: $font-size-h3;
	    };
	    line-height: $font-size-h3;
	    color: $brand-primary;
	    margin-left: 4px;
    }

    &:focus,
    &:hover {
      @include prefixed(transform, "translate3d(4px, 0, 0)");
    }
  }

  .seq-prev {
    left: 18%;
    background-color: #fff;
	width: 34px;
	height: 34px;
	z-index: 1000;
	border: 2px solid $brand-primary;
	text-align: center;
	opacity: 0.3;
	@include drop-shadow($x: 0, $y: 15px, $blur: 18px, $alpha: .35);
	@include border-radius(17px);
	@include transition(0.2s);

	&:hover {
		background-color: lighten($brand-primary, 50%);
		opacity: 1;
	}

    &:before {
	    content: '\f104';
	    font: {
		    family: 'FontAwesome';
		    size: $font-size-h3;
	    };
	    line-height: $font-size-h3;
	    color: $brand-primary;
	    margin-right: 4px;
    }

    &:focus,
    &:hover {
      @include prefixed(transform, "translate3d(-4px, 0, 0)");
    }
  }

  .seq-model,
  .seq-title {
    position: absolute;
  }

  .seq-model {
    //bottom: 15%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* Don't allow the image to exceed its original height */
    max-height: $imageHeight;

    img {
      /* Don't allow the image to exceed its original height */
      //max-height: $imageHeight;
      display: block;
      width: 100%;
      height: auto;
      //min-height: $imageHeight;
      margin: 0 auto;
      opacity: 0;
      @include prefixed(transform, "scale(1.1)");
      @include prefixed(transition-duration, "6s");
      @include prefixed(transition-properties, "scale, opacity");
      @include prefixed(transition-timing-function, "ease-out !important");
    }
  }

  .seq-title {
  	top: 40%;
    margin: 0;
    //width: 30%;
    right: 10%;
    display: block;
    text-align: right;

    h2,
    h3 {
      display: inline-block;
      //width: 98%;
      vertical-align: middle;
      text-align: right;
      margin: 0;
      opacity: 0;
    }

    h2 {
      padding: 10px 15px;
      font: {
	      family: $font-primary;
	      size: $font-size-h2;
      };
      color: white;
      background: black;
      margin-bottom: 5px;
      //display: inline-block;
      @include prefixed(transition-duration, "1s");
      @include prefixed(transition-properties, "translate3d, scale, opacity");
    }

    h3 {
      padding: 10px 15px;
      font: {
	      family: $font-primary;
	      size: $font-size-h3;
      };
      color: white;
      background: black;
      margin-bottom: 5px;
      //display: inline-block;
      @include prefixed(transition-duration, "1s");
      @include prefixed(transition-properties, "translate3d, scale, opacity");
      @include prefixed(transition-delay, "0.5s");

      &.h3-second {
	      @include prefixed(transition-delay, "0.7s");
      }
    }
  }

  .seq-in {
    /* Animate in positions for content */

    .seq-model img {
      @include prefixed(transform, "scale(1)");
      opacity: 1;
    }

    .seq-title {
      h2,
      h3 {
        opacity: 1;
        @include prefixed(transform, "translate3d(60px, 0, 0)");
      }
    }
  }

  .seq-out {
    /* Animate out positions for content */

    .seq-model img {
      //@include prefixed(transform, "translate3d(-60px, 0, 0)");
      opacity: 0;
    }

    .seq-title {
      h2,
      h3 {
        opacity: 0;
        @include prefixed(transform, "translate3d(-60px, 0, 0)");
      }
    }
  }


}
