/*==============================
=            Trucks            =
==============================*/

.trucks_block {
    padding-left: 0;
    padding-right: 0;
/*  border-bottom: 1px solid $gray-light; */
    margin: 15px 0;

    .truck_image {
        min-height: 300px;
        padding: 10px 15px 0 0;
        z-index: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    .truck_info {
        padding-right: 0;
        padding-left: 0;

        h2 {
            font-family: $font-primary;
            font-size: $font-size-h2;
            font-weight: normal;
            color: $h1-color;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .truck_description {
            min-height: 50px;
            padding: 5px 15px;
/*          background-color: lighten($gray-light, 40%); */
            background: linear-gradient(to right, lighten($gray-light, 40%) 85%, #fff 100%);
            margin-top: 0;
        }

        .truck_specification {
            padding: 15px 0;

            p {
                line-height: 16px;
                margin: 0;

                strong {
                    font-family: $font-primary;
                    color: $h1-color;
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 20px;
                    margin-top: 10px;
                }
            }

            ul {
                padding-left: 18px;

                li {
                    margin-bottom: 0;
                }
            }
        }
    }

    .trucks_links_block {
        padding: 0;
        z-index: 1000;
    }

    .truck_link {
        padding: 0;
        color: transparent;

        a {
            font-family: $font-primary;
            color: #fff;
            font-size: 18px;
            font-weight: normal;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            height: 30px;
            background-color: $gray-light;
            padding: 6px 0 23px;
            margin: 10px 0 0;
            line-height: 18px;
            @include transition(0.2s);
            border: 1px solid #fff;

                &:hover {
                background: $h1-color;
            }
        }
    }

    .truck_presentation {
        padding: 0;
        color: transparent;

        a {
            font-family: $font-primary;
            color: #fff;
            font-size: 18px;
            font-weight: normal;
            text-decoration: none;
            width: 100%;
            height: 30px;
            display: inline-block;
            /*background-color: $gray-light; */
            background-color: $brand-primary;
            padding: 6px 0 23px;
            margin: 10px 0 0;
            line-height: 18px;
            /*margin-top: -30px; */
            @include transition(0.2s);
            border: 1px solid #fff;

            &:hover {
                background-color: $h1-color;
            }
        }
    }
}

.pdf-icon {
    background: url(images/pdf2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 0 10px 0 15px;
}

.browser-icon {
    background: url(images/browser2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 0 15px 0 10px;
    right: 0;
}

/*=====  End of Trucks  ======*/
