/* @group No script */
/* ========================================================================== */
.noscript {
	width: 100%;
	min-height: 20px;
	background-color: #CC0006;
	text-align: center;
	display: table;
	padding: 5px;
	top: 0;
	position: fixed;
	z-index: 9000;

	p {
		font-family: 'Verdana';
		font-size: 0.9em;
		font-style: normal;
		color: #FFF;
		display: table-cell;
		vertical-align: middle;

		a {
			text-decoration: none;
			font-weight: bold;
			color: #f0c44b;
			cursor: pointer;

			:hover {
				color: #fdebc5;
			}
		}
	}
}
/* $end */

/*! @group Magnific popups */
/* ========================================================================== */
/* at start */
.mfp-fade {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
	@include transition(0.3s);

	.mfp-content {
	    @include transition(0.3s);
    }
}

/* animate in */
.mfp-fade.mfp-ready {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* animate out */
.mfp-fade.mfp-removing {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

/* Dark overlay, start state */
.mfp-fade.mfp-bg {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
	@include transition(0.3s);
}

/* animate in */
.mfp-fade.mfp-ready.mfp-bg {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

/* animate out */
.mfp-fade.mfp-removing.mfp-bg {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
/* $end  */

/*! @group Image comparison */
/* ========================================================================== */
$bounce-in-duration: .7s;

@keyframes repair-bounce-in {
	0% {
		width: 0;
	}

	60% {
		width: 55%;
	}

	100% {
		width: 50%;
	}
}

.repair_photos_block {
	margin: 30px auto;

	.repair_photos_info {
		//padding-left: 30px;
		//padding-right: 0;

		h2 {
			font-family: $font-primary;
			font-size: $font-size-h2;
			font-weight: normal;
			color: $h1-color;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}

		.repair_photos_description {
			min-height: 50px;
			padding: 5px 15px;
/* 			background-color: lighten($gray-light, 40%); */
			// @include gradient-variant(left, lighten($gray-light, 40%), 85%, #fff, 100%);
			background: linear-gradient(to left, lighten($gray-light, 40%) 85%, #fff 100%);
			margin-top: 0;
		}

		.repair_photos_specification {
			padding: 15px 0;

			p {
				line-height: 16px;
				margin: 0;

				strong {
					font-family: $font-primary;
					color: $h1-color;
					font-size: 20px;
					font-weight: normal;
					line-height: 20px;
					margin-top: 10px;
				}
			}
		}
	}
}

.repair_photos_container {
	position: relative;
	//width: 400px;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.repair_photos_label {
	position: absolute;
	bottom: 0;
	right: 0;
	color: $brand-warning;
	padding: 1em;
	opacity: 0;
	@include translate(0, 20px);
	-webkit-transition: -webkit-transform .3s $bounce-in-duration, opacity .3s $bounce-in-duration;
	-moz-transition: -moz-transform .3s $bounce-in-duration, opacity .3s $bounce-in-duration;
	transition: transform .3s $bounce-in-duration, opacity .3s $bounce-in-duration;

	&.is-hidden {
		visibility: hidden;
	}

	.is-visible & {
		opacity: 1;
		@include translate(0, 0);
	}
}

.repair-resize-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	overflow: hidden;
	/* Force Hardware Acceleration in WebKit */
	@include translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-right: 4px solid $brand-warning;

	img {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		height: 100%;
		width: auto;
		max-width: none;
	}

	.repair_photos_label {
		right: auto;
		left: 0;
	}

	.is-visible & {
		width: 50%;
		/* bounce in animation of the modified image */
		@include animation(repair-bounce-in);
		@include animation-duration($bounce-in-duration);
	}
}

.repair-handle {
	position: absolute;
	height: 44px;
	width: 44px;
	/* center the element */
	left: 50%;
	top: 50%;
	margin-left: -24px;
	margin-top: -22px;
	border-radius: 50%;
	background: $brand-warning url('images/cd-arrows.svg') no-repeat center center;
	cursor: move;
	//box-shadow: 0 0 0 6px rgba(#000, .2), 0 0 10px rgba(#000, .6), inset 0 1px 0 rgba(#fff, .3);
	opacity: 0;
	@include translate3d(0, 0, 0);
	@include scale(0);

	&.draggable {
		/* change background color when element is active */
		background-color: lighten($brand-warning, 10%);
	}

	.is-visible & {
		opacity: 1;
		@include translate3d(0, 0, 0);
		@include scale(1);
		-webkit-transition: -webkit-transform .3s $bounce-in-duration, opacity 0s $bounce-in-duration;
		-moz-transition: -moz-transform .3s $bounce-in-duration, opacity 0s $bounce-in-duration;
		transition: transform .3s $bounce-in-duration, opacity 0s $bounce-in-duration;
	}
}
/* $end  */

/*! $group Popover and tooltip */
/* ========================================================================== */
.popover {
	@include drop-shadow(0 5px 10px rgba(0,0,0,.2));
	font-family: 'PF Din Text Cond Pro';
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	text-align: center;
}

.popover-title {
	border-radius: 5px 5px 0 0;
}

.tooltip {
	font-family: 'PF Din Text Cond Pro';
	font-size: $font-size-base;
	line-height: 1;
}

.tooltip-inner {
	padding: 8px;
}
/* $end  */