/* Main colors */
/* unused */
/* unused */
/* needs much more adaption, should be used as text color for elements with $colorSplash background */
/* a blueish dark gray */
/* generate the black from the $colorSplash */
/* default theme $colorSplash */
/* Brand colors */
/* Backgrounds */
/* Borders */
/* Shadows */
/* Grids */
/* Form field colors */
/* Buttons */
/* Context menus */
/* ComboBox dropdown menus */
/* Tree menus */
/* locked is already signaled with lock-icon, no need to use other semantic style here
     as italic is used for "unpublished" */
/* Top navigation colors */
/* unused */
/* unused */
/* unused */
/* Tabs */
/* Windows */
/* Font stacks */
/* unused */
/* unused */
/* Responsive breakpoints */
/* Path for background-images */

$primary     :   #30546c; // Основной цвет, цвет текста
$secondary   :   #464d51; // Цвет ссылок
$third       :   #464d51; // Цвет background, input
$input-bg    :   60%; // Input Background percent

html {
    color: #111;
    /* http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ */
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important;
    /* IE ignores this and renders Arial better */
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    font-size: 100.01%;
    height: 100%;
    /* avoids obscure font-size bug */
    line-height: 1.5;
    width: 100%;
}

//Background
body {
    background: lighten($third, 40%);
    font-size: 75%;
    /* 12px 62.5% for 10px*/
    height: 100%;
    width: 100%;
}

.warning {
    color: #821517;
    font-weight: bold;
}

.success {
    color: #090;
    font-weight: bold;
}

#container {
    margin: 70px auto 0;
    width: 460px;
}

#modx-login-logo {
    // margin: 0 0 12px 24px;
    margin: 0 0 2rem 0;

    // Вытянутый лого
    img {
        width: 60%;
        display: block;
        margin: 0 auto;
    }

    // Квадратный лого
    // img {
    //     width: auto;
    //     height: 150px;
    //     display: block;
    //     margin: 0 auto;
    // }
}

// Центральная панель
#modx-panel-login-div {
    border: 0;
    background: #fff;
    border-radius: 0;
    // box-shadow: 0 0 7px 1px #d9d9d9;
    border: 0.15rem solid $primary;
    padding: 26px;
}

img.loginCaptcha {
    border: 1px solid #039;
    height: 60px;
    width: 148px;
}

.loginLicense {
    color: $primary;
    font-size: 90%;
    margin: 1em auto;
    // padding-left: 20px;
    width: 460px;
}

h2 {
    color: $primary;
    font-weight: bold;
}

#modx-login-btn {
    float: right;
    font-size: 12px;
    background-color: $primary;
    background-image: none;

    &:active {
        margin: 3px 2px 1px;
    }

    &:hover {
        background-color: darken($primary, 5%);
    }
}

.modx-forgot-login {
    float: left;
}

#modx-forgot-login-form {
    margin-top: 24px;

    button {
        margin-top: 24px;
        font-size: 12px;
    }
}

a {
    color: $secondary !important;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

#modx-login-email {
    width: 200px;
}

.login-form-item {
    margin: 0;

    label {
        cursor: pointer;
        font-size: 120%;
        color: $primary;
        margin: 0 0 3px 3px;
        display: block;
    }
}

.login-form-item-first {
    margin: 0 0 17px;
}

.login-form-element .x-form-text {
    padding: 8px;
    line-height: 32px;
    width: 390px;
    background: lighten($third, $input-bg);
    border-color: $third;
    color: $primary;

    &:focus {
        background: #fff;
    }
}

.login-cb-row {
    padding: 24px 0 10px 0;
}

.x-form-check-wrap {
    float: left;
}

.x-form-check-wrap .x-form-cb-label {
    margin: 11px 0 0;
    color: #888;
}
.x-form-check-wrap.modx-login-rm-cb {
    float: left;
}

.login-cb-col {
    float: left;
    width: 50%;
}

.modx-login-fl-link {
    cursor: pointer;
    height: auto !important;
    line-height: 18px;
    margin: 10px 0 0 2px;
    white-space: nowrap;
}

#modx-fl-link:focus {
    color: #BE0000;
}

#modx-login-language-select-div {
    bottom: 0;
    color: #888;
    left: 0;
    padding: 4px;
    position: absolute;
}

#modx-login-language-select {
    background: #eee;
    border: 1px solid #aaa;
    position: relative;
}