@media only screen and (min-width: 640px) {

    /* Make the container 16:9 but no bigger than 90% of the screen height */
    @include aspect-ratio(16, 9);
    height: 100%;
    //max-height: 90vh;
    min-height: $sequenceMobileHeight;

    /* Move the background radial to the left */
    background-position: 50% 100%;

    .seq-canvas > *:before {
      /* Vertically align the content using a :before element */
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .seq-model,
    .seq-title {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 0 5% 0 2.5%;
    }

    .seq-model {
      top: 0;
      bottom: 0;
      width: 25%;
      margin-left: 12.5%;

      img {
        float: right;
        opacity: 0;
        @include prefixed(transform, "translate3d(60px, 0, 0)");
        @include prefixed(transition-properties, "transform, opacity");
      }
    }

    .seq-title {
      bottom: 0;
      width: 40%;
      margin-right: 12.5%;

      h2,
      h3 {
        display: inline-block;
        width: auto;
        margin: 0;
        opacity: 0;
        text-align: left;
        font-size: 18px;
        @include prefixed(transition-duration, ".3s");
        @include prefixed(transition-properties, "transform, opacity");
      }

      h2 {
        margin-bottom: .4em;
        padding: .2em .6em;
        font-family: 'Oxygen', sans-serif;
        color: white;
        background: black;
        @include prefixed(transform, "translate3d(-120px, 0, 0)");
      }

      h3 {
        display: block;
        font-family: 'Source Sans Pro', sans-serif;
        @include prefixed(transform, "translate3d(120px, 0, 0)");
      }
    }

    .seq-in {
      /* Animate in positions for content */

      .seq-model img {
        @include prefixed(transform, "translate3d(0, 0, 0)");
        opacity: 1;
      }
    }

    .seq-out {
      /* Animate out positions for content */

      .seq-model img {
        @include prefixed(transform, "translate3d(-60px, 0, 0)");
      }
    }
  }

  @media only screen and (min-width: 768px) {

    &.seq-active .seq-pagination {
      /* Show navigation and pagination if JS is enabled */
      display: block;
    }

    .seq-pagination {
      pointer-events: none;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 10;
      bottom: 5px;
      margin: 0 auto;
      padding: 0 20px;
      // Container width - (padding-left + padding-right)
      max-width: $sequenceWidth - 40;
      text-align: right;

      li {
        display: inline-block;
        list-style: none;
        margin: 0 10px;
        padding: 0;
        cursor: pointer;
      }

      li img {
        opacity: .4;
        pointer-events: auto;
        @include prefixed(transform, "translate3d(0, 0, 0)");
        @include prefixed(transition-duration, ".2s");
        @include prefixed(transition-properties, "transform, opacity");
      }

      li.seq-current img {
        opacity: 1;
      }

      li:focus img,
      li:hover img {
        @include prefixed(transform, "translate3d(0, -4px, 0)");
      }
    }
  }

  @media only screen and (min-width: 860px) {

    .seq-model {
      margin-left: 10%;
      width: 27.5%;
    }

    .seq-title {
      width: 42.5%;
      margin-right: 10%;

      br {
        display: inline-block;
      }
    }
  }

  @media only screen and (min-width: 1020px) {
    .seq-model {
      margin-left: 5%;
      width: 32.5%;
    }

    .seq-title {
      width: 47.5%;
      margin-right: 5%;
    }
  }

  @media only screen and (min-width: 1120px) {
    .seq-model {
      margin-left: 0;
      width: 37.5%;
    }

    .seq-title {
      width: 52.5%;
      margin-right: 0;
    }
  }


  @media (min--moz-device-pixel-ratio: 1.5),
         (-o-min-device-pixel-ratio: 3/2),
         (-webkit-min-device-pixel-ratio: 1.5),
         (min-device-pixel-ratio: 1.5),
         (min-resolution: 144dpi),
         (min-resolution: 1.5dppx) {
          /* Apply Retina (@2x) Images */

          .seq-next {
            background: url("images/sequence/bt-next@2x.png");
            background-size: 35px 66px;
          }

          .seq-prev {
            background: url("images/sequence/bt-prev@2x.png");
            background-size: 35px 66px;
          }
  }